.container-slider {
    display: flex;
    width: 100%;
    min-height: 20rem;
    align-items: center;
    justify-content: center;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on {
    opacity: 1;
}

#prev-button {
    z-index: 4;
}


#prev-button,
#next-button {

    width: 1rem;
    height: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

#prev-button img,
#next-button img {
    background-color: rgb(102, 97, 97);
    width: 2rem;
    height: 1rem;

}

#prev-button {
    transform: rotate(90deg);
}

#next-button {
    transform: rotate(90deg);
}

@media only screen and (min-width: 768px) {
    .container-images {
        margin-right: 0;
    }

    .container-slider {
        min-height: 100vh;
        margin: 0;
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    #prev-button {
        left: 1rem;
    }

    #next-button {
        right: 1rem;
    }

    #prev-button,
    #next-button {
        position: relative;


    }

    #prev-button {
        transform: rotate(90deg);


    }

    #next-button {
        transform: rotate(90deg);

    }
}