.container-slider {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagens-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.slider {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .2s;
    align-items: center;
    position: absolute;
    margin-bottom: 10%;

}

.slider img {
    width: 75.21497584541063%;
}

.on {
    opacity: 1;
}

.slider.on img {
    width: 90%;
}

.slider.on {
    position: static;
}

#prev-button,
#next-button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}

#prev-button img,
#next-button img {
    width: 100%;
    height: .7rem;

}

#prev-button {
    transform: rotate(90deg);
}

#next-button {
    transform: rotate(90deg);
}

@media only screen and (min-width: 768px) {
    .slider.on img {
        max-width: 90%;
    }

    .slider img {
        width: 56.17119393556538%;
    }



}